ion-content {
    --background: #F0F4FD;
    --color: #fff;

    ion-card, ion-item {
        color: #fff;
        --background: #d35400;
    }

    p {
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        margin: 0;
    }

    .d-flex {
        display: flex;
        align-items: center;
    }
}